html, body
{
    background-color: #9CBCDA
}
.main-nav
{
    background:#111683;
}
ul.main-menu
{
    margin-bottom:0;
    margin-left:0;
}
ul.main-menu li
{
 color:gold;
 padding: 10px 15px;
 cursor:pointer;

}
ul.main-menu li:hover
{
    color:white;
    background-color: cadetblue !important;
}
ul.main-menu li:first-child{
    background-color: gold;
    color:white;
}
.content-wrapper
{
    background-color: white;
    
}
.left-nav
{
    height:100%;
    background: linear-gradient(to bottom, gold 0%, lightyellow 100%)
}
.feature-bar
{
    background-color:blue;
    border-radius: 5px;
    height: 500%;
}