<<<<<<< HEAD
body 
{
			 background-color: ghostwhite;
}
.text-center {
	text-align: center;
}

.bold 
{
	font-weight: bold;
}

ul.list-inline li 
{
	display:inline;
}
ul.menu li 
{
	    background-color: #9dd2de;
    padding: 5px 30px;
    border: 1px solid;
    cursor: pointer;
}
ul.menu li:hover
{
	background-color: lime !important;
}


ul.menu.sub li
{
	background-color: #9dd2de;
}

.container 
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
=======
body {
	background-color: ghostwhite;
}

.text-center {
	text-align:center;
}

.bold
{
	font-weight:bold;
}

ul.list-inline li{
	display: inline;
}
ul.menu li{
	background-color: #cdf1ef;
    padding: 10px 30px;
    border: 1px solid #bfbfd6;
    cursor: pointer;
}

ul.menu
{
	margin:25px;
}

ul.menu li:hover
{
	background-color: #696969 !important;
	color:white;
}

ul.menu.sub li{
	background-color: red;
}

/*Centers our content for nicer viewing*/
.container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
>>>>>>> eadf0208f7c3f8de216324ab88770f0db5590088
}