html, body
{
    background-color: #9CBCDA
}

.main-nav
{
    background:#111683;
}

ul.main-menu 
{
  margin-bottom: 0;
}

ul.main-menu li 
{
    color:#E3B11F;
    padding: 10px 15px;
    cursor:pointer;
}

ul.main-menu li:hover
{
    color:white;
    background-color:#4276ea !important;
}

ul.main-menu li:first-child
{
    background-color:#E3B11F;
    color:white;
}

.content-wrapper
{
	background-color: white;
}

