.div1
{
    font-family: "Kreon", "Times New Roman", serif;
    background-color: #9cdcf2;
    width: 100%;
    margin-top: 0;
}
.div1-inner
{
  max-width: 600px;
  margin: 0 auto;
}
.div1-txt1
{
  color: #FFF;
  font-size: 34px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  line-height: 30pt;
  margin-top: 0;
  padding: 80px 0 0px 0;
}
.div1-txt2
{
  color: #FFF;
  font-family: "Kreon", "Times New Roman", serif;
  font-size: 20px;
  margin: 15px 0 0 0;
  line-height: 22pt;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.styled-btn
{
    width: 121px;
    border-radius: 0px 10px 0px 10px;
    background-color: #ee7541;
    font-size: 18px;
    padding: 10px 20px 12px 20px;
    display: block;
    color: #FFF;
    margin: 0 auto;
}
.styled-btn:hover
{
      background-color: #6b6b6b;
}
