body
{

}

.header-section
{
	position: fixed;
    right: 0;
    left: 0;
    display: block;
    z-index: 10000000;
    width: 200%;
}

.header-section .sign-in
{
	height: 50px;
	width: 200%;
    background-color: #3b3e4b;/*dark blue top*/
}

.body-background
{
	background-color: #9cdcf2;/*light blue body*/
}

body .contain
{
	margin: auto;
	max-width: 940px;
	padding: 0 20px;
	position: relative;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list_inline
{
	padding-right: 0;
	margin-right: -5px;
	list-style: none;
	list-style-position: initial;
	list-style-image: initial;
}

ul .menu-cast li
{
	color: #7b7e8d
	padding: 10px 15px;
	cursor: pointer;
	font-size: 15px;
	font-family: 'Kreon';
    height: 100%;
    float: right;
    padding: 20px 5px;
}
 img .logo
 {
    float: left;
    margin: 10px 10px 10px 10px;
}
