body
{
	font-family: 'Baloo Bhai', cursive;
	background-image: url(http://www.livescience.com/images/i/000/050/176/original/090706-dinosaur-size-02.jpg?interpolation=lanczos-none&fit=inside%7C660:*); 
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
}//end of body

.background-grey
{
	background-color: #c2c2a3;
}

.background-color-lg
{
	background-color: #f5f5f0;
}

.backgropund-color-b
{
	background-color: #000000;
}

.container
{
	width: 60%;
	margin: 10px 5px 10px 5px;
}

ul.list-inline li
{
display: inline;
background-color: #c2c2a3;
padding: 5px 20px;
cursor: pointer;
}

ul.menu li:hover a
{
background-color:  #000000 !important;
text-decoration: none;
color: white;
}
